.page{
    width: 21cm;
}
.overflow{overflow:auto;}

.print-area {
    background-size: cover;
    height: 29.7cm;
    position: relative;
    min-height: 400px;
    font-size: 16px;
}

.element:not(.checkbox) {
    border-bottom: 1px red solid;
    border-left: 1px red solid;
}

.print-area *:not(.fa) {
    font-weight: bold;
    font-family: "Arial";
    /*letter-spacing: 2px;*/
    margin: 0 !important;
    line-height: normal !important;
}

.element {
    cursor: move;
    opacity: .4;
    position: absolute;
    width: auto;
}

.element.selected {
    opacity: 1;
}


.aside{
    background-color:#FFF;
    padding:10px 10px 40px 10px;
    position:absolute;
    right:0;
    top:65px;
    bottom:0;
    width:320px;
}

.js-fields_content {
    max-height:200px;
    overflow:auto;
}
